*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#bgimg{
  background-image: url('../images/farm.jpg');
  width: 100%;
  height: 650px;
  margin-top: 0;
  padding-top: 1%;
  background-size: 100% 100%;
  background-position: center;
  background-attachment: fixed;
}
.text{
  position: relative;
  text-align: center;
  margin-top: 15%;
}





#sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}


#pixtext >p{
  width: 100%;
}
@media(max-width:320px){
  .text{
    margin-top: 40%;
  }
  .navbar{
    width: 100%;
  }
}